<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} %-5p [%t] %logger - %message%n%xException%n%mdc</pattern>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="org.sagebionetworks.bridge.workerPlatform" level="INFO" />
    <logger name="org.sagebionetworks.bridge.reporter" level="INFO" />
    <logger name="org.sagebionetworks.bridge.exporter" level="INFO" />
    <logger name="org.sagebionetworks.bridge.udd" level="INFO" />
    <logger name="org.sagebionetworks.bridge.heartbeat" level="INFO" />
</configuration>
